---
import Logo from "/Logo.svg";
---

<hero>
    <div class="flex flex-col ">
        <img src={Logo} class="w-80  ml-1 mt-8"/>
        <p class="absolute top-64 text- ml-6 font- text-content text-3xl  font-[Archivo] ">Your Partner for Professional Supplies
            and Solutions
        </p>
    </div>
    <div></div>
    <p class="ml-2 mt-44 font-bold text-content text-xl font-[Archivo]">What makes us unique...
    </p>
    <p class="ml-9 mt-5 font-thin text-content text-l font-[Archivo]">...is flexible sourcing, competitive prices, on-time deliveries, and customized approaches that meet your unique needs. We prioritize building long-term relationships with our customers to deliver results beyond compare.
    </p>
    <div class="ellipse w-100 h-100 absolute left-10 top-100 bg-teal-600 backdrop-filter backdrop-blur-3xl" >

    </div>
    
</hero>