---
import Logo from "/Logo.svg";
import Values from "./Values.astro";
---

<hero class="h-screen block px-16" id="#start">
  <div class="w-[30rem]">
    <img src={Logo} class=" mt-8 w-full" />
    <p class="mt-6 text-content text-2xl lg:text-4xl  font-[Archivo] w-full">
      Your Partner for Professional Supplies and Solutions
    </p>
  </div>
  <div class=" w-full justify-end flex">
    <div class="relative max-w-md">
        <div
          class="bg-primary-500 opacity-50 blur-3xl rounded-full absolute top-1/2 -z-10 w-[350px] h-[200px] left-1/2 -translate-x-1/2 -translate-y-1/2"
        >
        </div>
        <p class="font-bold text-content text-xl lg:text-2xl font-[Archivo] px-6">
          What makes us unique...
        </p>
        <p
          class="ml-9 mt-5 font-thin text-content text-lg lg:text-xl font-[Archivo] mb-14 "
        >
          ...is flexible sourcing, competitive prices, on-time deliveries, and
          customized approaches that meet your unique needs. We prioritize building
          long-term relationships with our customers to deliver results beyond
          compare.
        </p>
    </div>
  </div>
  <Values />
</hero>
