<html>
  <div class="flex justify-between py-3 px-6">
    <div>
      <span></span>
    </div>
    <button
      class="sm:hidden bg-inherit w-10 h-10"
      aria-controls="main navigation"
      aria-expanded="false"
    >
      <svg viewBox="0 0 100 100" class="fill-primary-300">
        <rect width="80" x="10" y="25" height="10" rx="5"> </rect>
        <rect width="60" x="30" y="45" height="10" rx="5"> </rect>
        <rect width="40" x="50" y="65" height="10" rx="5"> </rect>
      </svg>
    </button>
  </div>
  <nav class="mt-4 hidden sm:flex">
    <ul class="gap-5 flex">
      <a href="" class="text-content text-sm">Start</a>
      <a href="" class="text-content text-sm">Products</a>
      <a href="" class="text-content text-sm">Partnerships and Services</a>
      <a href="" class="text-content text-sm">About</a>
      <a href="" class="text-content text-sm">Contact</a>
    </ul>
  </nav>

</html>
