<html>
  <div class="flex justify-between py-3 px-6">
    <div>
        <span></span>
    </div>
    <div class="flex gap-5 mt-4">
        <a href="" class="text-content text-sm">Start</a>
        <a href="" class="text-content text-sm">Products</a>
        <a href="" class="text-content text-sm">Partnerships and Services</a>
        <a href="" class="text-content text-sm">About</a>
        <a href="" class="text-content text-sm">Contact</a>
    </div>
  </div>
</html>
