---
import BestPick from "/BestPick.svg";
---

<nav>
  <div class="flex w-full justify-between py-3 px-3 items-center mt-4">
    <div class="flex opacity-0 items-center gap-3 sm:hidden">
      <img src={BestPick} class="h-10 w-10" />
      <span class="text-content font-bold"> Best Pick</span>
    </div>
    <button
      class="sm:hidden bg-inherit w-10 h-10 z-50"
      aria-controls="main navigation"
      aria-expanded="false"
    >
      <svg viewBox="0 0 100 100" class="fill-primary-300">
        <rect
          width="80"
          x="10"
          y="25"
          height="10"
          rx="5"
          class="transition-all duration-200"
        >
        </rect>
        <rect
          width="60"
          x="30"
          y="45"
          height="10"
          rx="5"
          class="transition-all duration-200"
        >
        </rect>
        <rect
          width="40"
          x="50"
          y="65"
          height="10"
          rx="5"
          class="transition-all duration-200"
        >
        </rect>
      </svg>
    </button>
    <nav class="hidden sm:flex fixed top-10 right-10">
      <ul class="gap-10 flex">
        <li>
          <a
            href="#Start"
            class="text-content text-md font-light font-[Archivo]">Start</a
          >
        </li>
        <li>
          <a href="#Products" class="text-content text-sm font-[Archivo]"
            >Products</a
          >
        </li>
        <li>
          <a href="#Partnerships" class="text-content text-sm font-[Archivo]"
            >Partnerships and Services</a
          >
        </li>
        <li>
          <a href="#About" class="text-content text-sm font-[Archivo]">About</a>
        </li>
        <li>
          <a href="#Contact" class="text-content text-sm font-[Archivo]"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <nav
    id="side-nav"
    class="fixed right-0 top-0 bg-primary-400 h-screen w-0 sm:hidden transition-all z-30"
  >
    <ul class="flex-col flex items-center overflow-hidden gap-5 mt-36">
      <li class="p-3">
        <a href="#Start" class="text-content text-xl font-[Archivo]">START</a>
      </li>
      <li class="p-3">
        <a href="#Products" class="text-content text-xl font-[Archivo]"
          >PRODUCTS</a
        >
      </li>
      <li class="p-3">
        <a href="#Partnerships" class="text-content text-xl font-[Archivo]"
          >PARTNERSHIPS </a
        >
      </li>
      <li class="p-3">
        <a href="#About" class="text-content text-xl font-[Archivo]">ABOUT</a>
      </li>
      <li class="p-3">
        <a href="#Contact" class="text-content text-xl font-[Archivo]"
          >CONTACT</a
        >
      </li>
    </ul>
  </nav>
</nav>

<script>
  const button = document.querySelector("button");
  const nav = document.querySelector("#side-nav");
  const classes = nav.classList;
  button.addEventListener("click", () => {
    if (classes.contains("w-0")) {
      nav.classList.replace("w-0", "w-screen");
      button.children[0].classList.replace(
        "fill-primary-300",
        "fill-primary-100"
      );
      animatebutton(button.children[0]);
    } else {
      nav.classList.replace("w-screen", "w-0");
      button.children[0].classList.replace(
        "fill-primary-100",
        "fill-primary-300"
      );
      resetbutton(button.children[0]);
    }
  });

  function animatebutton(svg) {
    const [rect1, rect2, rect3] = svg.children;
    rect3.setAttribute("width", "80");
    rect3.setAttribute("height", "0");
    //set width to 80
    rect2.setAttribute("width", "80");
    // rotate rect 1 45deg with transition of 0.3s using tailwind css classes
    rect1.classList.add(
      "transform",
      "rotate-45",
      "duration-200",
      "origin-center"
    );
    rect2.classList.add(
      "transform",
      "-rotate-45",
      "duration-200",
      "origin-center"
    );
  }

  function resetbutton(svg) {
    const [rect1, rect2, rect3] = svg.children;
    rect3.setAttribute("width", "40");
    rect3.setAttribute("height", "10");
    //set width to 80
    rect2.setAttribute("width", "60");
    // rotate rect 1 45deg with transition of 0.3s using tailwind css classes
    rect1.classList.remove(
      "transform",
      "rotate-45",
      "duration-300",
      "origin-center"
    );
    rect2.classList.remove(
      "transform",
      "-rotate-45",
      "duration-300",
      "origin-center"
    );
  }
</script>
