<span
    class="text-lg transition-opacity duration-300 font-bold text-primary-200 ml-4 lg:text-xl"
>
Respect.
</span>

<script>
    const values = [
        "Integrity",
        "Value",
        "Commitment",
        "Excellence",
        "Teamwork",
        "Innovation",
        "Customer Focus",
        "Respect",
        "Passion"
    ];

    const spanElement = document.querySelector(".duration-300");

    let counter = 0
    
    function changeWord() {
        spanElement.classList.remove("opacity-100");
        spanElement.classList.add("opacity-0");
        counter++
        setTimeout(() => {
            spanElement.innerHTML = values[counter%values.length] + ".";
            spanElement.classList.remove("opacity-0");
            spanElement.classList.add("opacity-100");
        }, 500);
    }

    setInterval(changeWord, 2000);

</script>
