---
import Navbar from "../components/Navbar.astro";
import Particles from "astro-particles"

const options = {
    fullScreen: {
        zIndex: -1
    },
    particles: {
        number: {
            value: 100
        },
		line_linked:{
			enable:true,
			color: "#45384d"
		},
		color: "#45384d",
        move: {
            enable: true
        }
    },
	
};


export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative bg-secondary-600 h-full m-0 min-h-screen">
		<Navbar />
		<slot />
		<Particles id="tsparticles" options={options} init="particlesInit" />
	</body>
	<script>
		import { type Container, type Engine, tsParticles } from "tsparticles-engine";
		import { loadFull } from "tsparticles";
	
		// the function name is the parameter passed to the init attribute
		// required
		// add the function to window is mandatory, it will be searched there
		window.particlesInit = async function (engine: Engine) {
			await loadFull(engine);
		}
		
		// the function name is the parameter passed to the loaded attribute
		// optional
		// add the function to window is mandatory, it will be searched there
		window.particlesLoaded = function (container: Container) {
			console.log("particlesLoaded callback");
		}
	</script>
	
</html>
